@model List<Eshop.Models.Product>

 <div class="maincontent-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="latest-product">
                    <h2 class="section-title">Latest Products</h2>
                    <div class="product-carousel">
                        
                        @foreach (var item in Model)
                        {
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="~/img/product/@item.Image" alt="">
                                    <div class="product-hover">
                                        <a asp-action="Them" asp-controller="Cart" asp-route-id="@item.Id" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                        <a asp-route-id="@item.Id" asp-action="Details" asp-controller="Products" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                    </div>
                                </div>

                                <h2><a asp-route-id="@item.Id" asp-action="Details" asp-controller="Products">@item.Name</a></h2>

                                <div class="product-carousel-price">
                                    <ins>@item.Price</ins> 
                                </div>
                            </div>
                        }
                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End main content area -->
